.cardcell{
  margin-right: 20%;
}
.cardcollector{
  margin: 0 auto;
  text-align: center;
  width:90%;
}



#sidebar {
  
  width: 250px;
  min-height: 100vh;
  /* position: fixed;
  top: 0;
  left: 0; */
  
}
.sidebar-header{
  text-align: center;
}

#sidebar ul li a {
  color: #fff;
}
#menulist{
  text-align: center;
  
  
}

#dropdownmenu{
  background-color: black;
}


